@charset "UTF-8";

/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Rubik+Dirt&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Rubik', sans-serif;
    scroll-behavior: smooth;
}

/* Variaveis */
:root {
    --bg-color: #10101a;
    --bg-color_big: #1d1d2e;
    --main-color: #bf2f2f;
    --text-color: #fff;
}

/* Body */
body {
    background: var(--bg-color);
    color: var(--text-color);
}

/* Header */
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
}

/* Navbar */
.logo {
    color: var(--text-color);
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem;
}

span {
    color: var(--main-color);
}

.navbar {
    display: flex;
    position: absolute;
    top: -500px;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: #0b0b13;
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
    text-align: left;
    transition: 0.2s ease;
}
.navbar a {
    color: var(--text-color);
    font-size: 1rem;
    font-weight: 500;
    border-radius: 3px;

    display: block;
    padding: 1rem;
    border-left: 2px solid var(--main-color);
    margin: 1rem;
    display: block;
    
}
.active {
    top: 100%;
}

.navbar a:hover {
    background: var(--main-color);
    transition: .3s;
}

/* MENU HAMBURGUER */
#menu-icon {
    font-size: 28px;
    z-index: 10001;
    cursor: pointer;
    display: block;
    padding: 1rem;
}

/* Botão voltar ao topo da seção Guia de Treino*/
#btn-voltar-ao-topo {
    border-radius: 100%;
    bottom: 14px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: fixed;
    right: 22px;
    z-index: 3;
    font-size: 1.6rem;
    
    padding: 3px;
    background: var(--main-color);
    color: var(--text-color);
    /*box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);*/
    box-shadow: 2px 2px var(--text-color);
    transition: ease all 0.35s;

    display: none;
}

/* Botão voltar ao topo */
#btn-topo {
    border-radius: 100%;
    bottom: 14px;
    cursor: pointer;
    height: 45px;
    width: 45px;
    position: fixed;
    right: 22px;
    z-index: 3;
    font-size: 1.6rem;
    
    padding: 3px;
    background: var(--main-color);
    color: var(--text-color);
    /*box-shadow: 2px 3px 19px -2px rgba(0, 0, 0, .75);*/
    box-shadow: 2px 2px var(--text-color);
    transition: ease all 0.35s;
}

/* Section */
section {
    padding: 0 1rem;
}

h1 {
    text-align: center;
}

/* Home */
.home {
    padding-top: 80px;
    padding-bottom: 35px;
    text-align: center;
}

.home h1 {
    /*font-family: 'Bungee Spice', cursive;*/
    font-size: 1.4rem;
    color: var(--text-color);
    /*text-shadow: 0 0 10px var(--text-color);*/
    /*font-family: 'Rubik Dirt', cursive;*/
    letter-spacing: 2px;
}

.home h1 span {
    font-size: 1.4rem;
    color: var(--main-color);
    /*text-shadow: 0 0 10px var(--text-color);*/
    font-family: 'Rubik Dirt', cursive;
    letter-spacing: 2px;
}

/* Calculadora */
.calculadora {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    height: calc(100vh - 142px);
}

.calculadora label {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 5px;
}

.calculadora input {
    padding: 5px;
}

button {
    cursor: pointer;
}

.calculadora button {
    padding: 5px 10px;
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 4px 4px var(--text-color);
    transition: ease all 0.35s;
}

.calculadora button:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 4px 4px var(--main-color);
}

#btn-remover {
    box-shadow: 2px 2px var(--text-color);
    padding: 5px 7px;
}

#btn-remover:hover {
    box-shadow: 2px 2px var(--main-color);
}

/* Tabela de alimentos */
table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid var(--text-color);
    padding: 5px 14px;
    text-align: center;
}

th {
    font-size: 0.9rem;
    background-color: #ec7d7d;
}

td {
    font-size: 0.7rem;
}

/*
tr:nth-child(even) {
    background-color: #ec7d7d;
}*/

/* Macete para a tabela responsiva */
#table-container {
    overflow-x: auto;
    max-height: 253px;
    max-width: 100%;
}

/* Section Treino */

.treino {
    height: calc(100vh - 66px);
}

.treino h1 {
    padding-bottom: 20px;
}

.treino h2 {
    text-align: center;
    padding: 20px 0;
    color: #d61c1cde;
    text-shadow: 1px 1px var(--text-color);
}

.treino h3, h5 {
    text-align: center;
    padding-bottom: 15px;
}

.menu-treino {
    padding-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.menu-treino button {
    background-color: var(--main-color);
    color: var(--text-color);
    border: none;
    text-align: center;
    padding: 10px 8px;
    margin: 3px;
    box-shadow: 3px 3px var(--text-color);
    font-size: 1rem;
    transition: ease all 0.35s;
    /*transition: width 2s;*/
}


.menu-treino button:hover {
    background: var(--text-color);
    color: var(--main-color);
    box-shadow: 3px 3px var(--main-color);
}

/* Não está funcionando */
.btn-treino .expandir {
    width: '100%';
    font-size: '1.2rem';
    font-weight: 'bold';
}

/* Div de cada musculo */
.musculo {
    display: none;
    flex-direction: column;
    padding-bottom: 10px;
}

/*#peito, #biceps {
    display: none;
    flex-direction: column;
    padding-bottom: 10px;
}*/

/* Div de cada exercicio */
.musculo-exercicio {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    background: #0b0b13;
    padding: 10px 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: all .40s;
}

.musculo-exercicio:hover {
    transform: translateY(-15px);
    box-shadow: 0px 15px 30px 0px rgb(0 0 0 / 70%);
}

.treino img {
    max-width: 100%;
    float: left;
    width: 100%;
    height: 100%;
}

.instrucoes {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
}

.instrucoes span {
    color: var(--text-color);
    font-size: 0.9rem;
}

.instrucoes strong {
    color: #ec7d7d;
}

/* Legenda Treinos*/

.legenda-container {
    background-color: var(--bg-color);
}

.legenda-titulo {
    display: none;
    text-align: center;
    padding-bottom: 15px;
    color: gray;
}

.legenda {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.legenda-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.legenda-item span {
    color: gray;
    padding-left: 5px;
}

.box {
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 3px;
}

.legenda-item #principal {
    background-color: rgb(156, 53, 54);
}

.legenda-item #secundario {
    background-color: rgb(52, 120, 183);
}

.legenda-item #acessorio {
    background-color: rgb(147, 207, 59);
}


/* Telas maiores */
@media screen and (min-width: 420px) {
    header {
        width: 420px;

        /* Centraliza o header apenas horixontalmente (eixo X) */
        left: 50%;
        transform: translateX(-50%);

        background-color: var(--bg-color_big);
    }
    main {
        /* Definindo uma largura e a margem para auto o proprio motor vai calcular a margem, deixando o elemento centralizado, não importando o tamanho da tela */
        width: 420px;
        margin: auto;
        background-color: var(--bg-color_big);
    }
    .treino {
        
        background-color: var(--bg-color_big);
    }
}

@media screen and (max-width: 360px) {
    .calculadora input {
        width: 140px;
    }
}

@media screen and (max-width: 325px) {
    .calculadora input {
        width: 120px;
    }
}

@media screen and (max-width: 305px) {
    .calculadora input {
        width: 90px;
    }
}
